Repository DaniilHarik/gpx-self-hosted: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        # Settings for the overall project coverage
        target: auto
        threshold: 1%
    patch:
      default:
        # Settings for the patch coverage (changes in PRs)
        target: auto
        threshold: 1%

flags:
  backend:
    paths:
      - cmd/
      - internal/
    carryforward: true
  frontend:
    paths:
      - static/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default

conductor(plan): Mark phase 'Phase 2: JSON Configuration Support' as complete
  conductor/tracks/config_env_json_20260117/plan.md
Due: none

feat(config): Implement full precedence and integration tests
  internal/config/config.go
  internal/config/config_test.go
Due: backend

conductor(plan): Mark Phase 3 tasks as complete
  conductor/tracks/config_env_json_20260117/plan.md
Due: none

conductor(plan): Mark phase 'Phase 3: Full Precedence Integration' as complete
  conductor/tracks/config_env_json_20260117/plan.md
Due: none

chore(conductor): Mark track 'Implement env/JSON config support to complement CLI flags' as complete
  conductor/tracks.md
Due: none

docs(conductor): Synchronize docs for track 'Implement env/JSON config support to complement CLI flags'
  conductor/product.md
  conductor/tech-stack.md
Due: none

feat(config): Log configuration sources on startup
  internal/config/config.go
Due: backend

docs: Update SPEC.md with config feature details
  SPEC.md
Due: none

docs: Update README with new configuration options
  README.md
Due: none

docs: Reorder configuration sections and remove numbering for clarity.
  README.md
Due: none

feat: Remove tile prewarming functionality, its API, UI, and associated tests.
  AGENTS.md
  README.md
  SECURITY.md
  SPEC.md
  internal/handler/handlers.go
  internal/handler/handlers_test.go
  internal/model/types.go
  internal/server/server.go
  internal/server/server_test.go
  internal/service/tiles/prewarm.go
  internal/service/tiles/prewarm_test.go
  static/css/style.css
  static/js/__tests__/app.test.cjs
  static/js/app.js
  static/js/state.js
  static/js/tiles.js
Due: backend, frontend

docs: Add a historical note to `SPEC.md` about a removed tile cache prewarm feature.
  SPEC.md
Due: none

feat: Introduce a comprehensive agent guide and enhance the run script with macOS-specific linker flags.
  GEMINI.md
  run.sh
Due: none

chore: update OpenTopoMap tile server URL to use the 'c' subdomain.
  config.json
  internal/config/config.go
Due: backend

fix: Add robust validation for tile proxy requests to prevent path traversal and malformed URLs.
  SECURITY.md
  SPEC.md
  internal/handler/handlers.go
  internal/handler/handlers_test.go
  internal/server/server_test.go
Due: backend

test: fix failing test
  internal/server/server_test.go
Due: backend

chore: added `.codex` to gitignore
  .gitignore
Due: none

refactor: use custom error types and `errors.Is`/`errors.As` for tile service error handling.
  internal/handler/handlers.go
  internal/handler/handlers_test.go
  internal/service/tiles/service.go
  internal/service/tiles/service_test.go
Due: backend

build: update Go version requirement to 1.25 in go.mod and README.md
  README.md
  go.mod
Due: none

docs: Expand and reorganize workflow guidelines by introducing new sections for orchestration, planning, self-improvement, verification, and core principles.
  AGENTS.md
Due: none

feat: Implement a toggle to show or hide start and end markers on GPX tracks.
  README.md
  SPEC.md
  static/index.html
  static/js/__tests__/app.test.cjs
  static/js/app.js
  static/js/state.js
  static/js/tracks.js
  tasks/todo.md
Due: frontend

feat: Implement high-resolution map image export functionality, adding a new button to the draw toolbar.
  README.md
  SPEC.md
  static/js/__tests__/app.test.cjs
  static/js/app.js
  static/js/draw.js
  tasks/lessons.md
  tasks/todo.md
Due: frontend

feat: add a custom map zoom slider control with refined zoom behavior and updated tests.
  README.md
  SPEC.md
  static/css/style.css
  static/js/__tests__/app.test.cjs
  static/js/map.js
  tasks/todo.md
Due: frontend

docs: Update SPEC, README, and SECURITY documentation for clarity, consistency, and accuracy regarding frontend architecture, activity aliases, and security notes.
  README.md
  SECURITY.md
  SPEC.md
  tasks/todo.md
Due: none

feat: synchronize gesture zoom snap with existing zoom speed presets.
  README.md
  SPEC.md
  static/js/__tests__/app.test.cjs
  static/js/map.js
  tasks/todo.md
Due: frontend

docs: Remove Task Management section and move 'Capture Lessons' to Core Principles.
  AGENTS.md
Due: none

fix: Set Maa-amet map layer maximum zoom level to 18.
  config.json
  internal/config/config.go
Due: backend

fix: Prevent corrupt partial tile cache files by writing to a temporary file and atomically renaming it, and add a test for partial writes.
  SECURITY.md
  SPEC.md
  internal/service/tiles/service.go
  internal/service/tiles/service_test.go
Due: backend

feat: Synchronize zoom slider when map zoom levels change.
  static/js/map.js
Due: frontend

feat: Implement viewport BBox copy functionality and update OpenTopoMap max zoom to 17.
  README.md
  SPEC.md
  config.json
  internal/config/config.go
  internal/config/config_test.go
  static/css/style.css
  static/js/__tests__/app.test.cjs
  static/js/map.js
  static/js/tiles.js
  static/js/utils.js
Due: backend, frontend

feat: Implement OpenStreetMap compliance by setting a specific User-Agent and forwarding a validated Referer header for the 'openstreetmap' tile provider.
  README.md
  SECURITY.md
  SPEC.md
  internal/handler/handlers.go
  internal/handler/handlers_test.go
  internal/server/server_test.go
  internal/service/tiles/service.go
  internal/service/tiles/service_test.go
  tasks/lessons.md
Due: backend

chore: bump Go version to 1.26 and refactor error handling to use errors.AsType
  README.md
  go.mod
  internal/handler/handlers.go
  internal/service/tiles/service_test.go
Due: backend

feat: add clickable map coordinate readout to bottom-center controls
  README.md
  SPEC.md
  static/css/style.css
  static/js/__tests__/app.test.cjs
  static/js/map.js
  static/js/utils.js
  tasks/lessons.md
Due: frontend

feat: update initial map viewport zoom level to 8 centered on Estonia
  SPEC.md
  static/js/__tests__/app.test.cjs
  static/js/map.js
Due: frontend

refactor: simplify BBox copy output to a single comma-separated coordinate string
  README.md
  SPEC.md
  static/js/__tests__/app.test.cjs
  static/js/utils.js
Due: frontend

refactor: update map coordinate display to track center and manual selection with improved interaction logic
  AGENTS.md
  GEMINI.md
  README.md
  SECURITY.md
  SPEC.md
  static/js/__tests__/app.test.cjs
  static/js/map.js
Due: frontend

fix: cap OpenStreetMap maximum zoom level to 18 and update project documentation structure
  README.md
  config.json
  internal/config/config.go
  static/js/__tests__/app.test.cjs
Due: backend, frontend

refactor: replace multi-track icon button with a descriptive, compact multi-select toggle in the track list toolbar
  README.md
  SPEC.md
  static/css/style.css
  static/index.html
  static/js/__tests__/app.test.cjs
  static/js/state.js
  static/js/tracks.js
  tasks/lessons.md
Due: frontend
