Repository DaniilHarik/gpx-self-hosted: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        # Settings for the overall project coverage
        target: auto
        threshold: 1%
    patch:
      default:
        # Settings for the patch coverage (changes in PRs)
        target: auto
        threshold: 1%

flags:
  backend:
    paths:
      - cmd/
      - internal/
    carryforward: true
  frontend:
    paths:
      - static/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default

refactor: decouple map coordinate targeting from zoom gestures by moving coordinate updates to single-click and zoom to double-click.
  README.md
  SPEC.md
  static/js/__tests__/app.test.cjs
  static/js/map.js
  tasks/lessons.md
Due: frontend

fix: add GPX namespace to drawn track export
  README.md
  SPEC.md
  UBIQUITOUS_LANGUAGE.md
  static/js/__tests__/app.test.cjs
  static/js/draw.js
Due: frontend

fix: add GPX metadata to drawn track export
  README.md
  SPEC.md
  static/js/__tests__/app.test.cjs
  static/js/draw.js
  tasks/lessons.md
Due: frontend

feat: expand product specification with track health checks, aggregate stats, collections, and new map tools
  SPEC.md
Due: none

docs: add AUDIT.md to track code audit findings and identify improvement priorities
  AUDIT.md
Due: none

chore: update CI workflow actions and upgrade Node.js to version 24
  .github/workflows/ci.yml
Due: none

refactor: remove obsolete application code
  .claude/launch.json
  AGENTS.md
  AUDIT.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
  SECURITY.md
  SPEC.md
  UBIQUITOUS_LANGUAGE.md
  conductor/code_styleguides/go.md
  conductor/code_styleguides/javascript.md
  conductor/index.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup_state.json
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/config_env_json_20260117/index.md
  conductor/tracks/config_env_json_20260117/metadata.json
  conductor/tracks/config_env_json_20260117/plan.md
  conductor/tracks/config_env_json_20260117/spec.md
  conductor/tracks/gpx_cache_20260115/index.md
  conductor/tracks/gpx_cache_20260115/metadata.json
  conductor/tracks/gpx_cache_20260115/plan.md
  conductor/tracks/gpx_cache_20260115/spec.md
  conductor/workflow.md
  docs/tiles.md
  tasks/lessons.md
  tasks/todo.md
Due: none

feat: make activity filters collapsible with a compact selection summary UI
  README.md
  SPEC.md
  static/css/style.css
  static/index.html
  static/js/__tests__/app.test.cjs
  static/js/app.js
  static/js/files.js
  static/js/state.js
Due: frontend

refactor: replace single data directory with independent configuration for activities and plans directories
  start.sh
Due: none

refactor: decouple activity and plan storage directories in config and service
  .gitignore
  AGENTS.md
  README.md
  SECURITY.md
  SPEC.md
  config.json
  internal/config/config.go
  internal/config/config_test.go
  internal/handler/handlers.go
  internal/model/types.go
  internal/server/server.go
  internal/server/server_routes_test.go
  internal/server/server_test.go
  internal/service/gpx/benchmark_test.go
  internal/service/gpx/integration_test.go
  internal/service/gpx/service.go
  internal/service/gpx/service_test.go
  tasks/lessons.md
Due: backend

refactor: rename go module to gpx-self-hosted and update import paths
  cmd/gpx-self-host/main.go
  go.mod
  internal/handler/handlers.go
  internal/handler/handlers_test.go
  internal/server/server.go
  internal/server/server_routes_test.go
  internal/server/server_test.go
  internal/service/gpx/benchmark_test.go
  internal/service/gpx/cache/cache.go
  internal/service/gpx/cache/cache_test.go
  internal/service/gpx/integration_test.go
  internal/service/gpx/parser.go
  internal/service/gpx/service.go
  internal/service/tiles/service.go
  internal/service/tiles/service_test.go
Due: backend

refactor: rename CLI package directory to gpx-self-hosted and update documentation and start script
  AGENTS.md
  README.md
  cmd/gpx-self-hosted/main.go
  start.sh
Due: backend
