Repository DaniilHarik/gpx-self-hosted: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        # Settings for the overall project coverage
        target: auto
        threshold: 1%
    patch:
      default:
        # Settings for the patch coverage (changes in PRs)
        target: auto
        threshold: 1%

flags:
  backend:
    paths:
      - cmd/
      - internal/
    carryforward: true
  frontend:
    paths:
      - static/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default

docs: Update Codecov badges and restructure the tile ranges section in README.
  README.md
Due: none

test: improve test coverage for tile, config, GPX, and handler services, add a nil response check, and update gitignore.
  .gitignore
  internal/config/config_test.go
  internal/handler/handlers_test.go
  internal/service/gpx/service_test.go
  internal/service/tiles/prewarm_test.go
  internal/service/tiles/service.go
  internal/service/tiles/service_test.go
Due: backend

docs: update README to reflect GPX track drawing capability and Leaflet.draw integration.
  README.md
Due: none

docs: Move prerequisites section to quick start for better visibility
  README.md
Due: none

fix: correct package name from `gpx-self-host` to `gpx-self-hosted`
  package.json
Due: none

chore: Exclude `cmd/` directory from backend code coverage in Codecov configuration.
  codecov.yml
Due: none

docs: clarify Node.js prerequisite and detail frontend architecture and dependencies in README.
  README.md
Due: none

docs: add animated track playback, heatmaps, drag-and-drop upload, static map snapshots, waypoint browser, and unit/privacy toggles to product spec.
  PRODUCT_SPEC.md
Due: none

docs: Extract tile ranges to `docs/tiles.md` and enhance `README.md` with a development section and improved structure.
  README.md
  docs/tiles.md
Due: none

docs: Add OS-specific build and run instructions to README.
  README.md
Due: none

docs: add non-negotiable guidelines for updating `SPEC.md` and tests.
  AGENTS.md
Due: none

feat: Enable Jest frontend test coverage collection and reporting.
  PRODUCT_SPEC.md
  README.md
  jest.config.cjs
  package.json
Due: none

docs: Replace PRODUCT_SPEC.md with a new detailed SPEC.md and update related documentation.
  AGENTS.md
  CONTRIBUTING.md
  SPEC.md
Due: none

tests: Add tests for TMS prewarming, tile service errors, handler JSON encoding, and JS utility functions.
  internal/config/config_test.go
  internal/handler/handlers_test.go
  internal/service/tiles/prewarm_test.go
  internal/service/tiles/service_test.go
  static/js/__tests__/app.test.cjs
Due: backend, frontend

docs: Add project overview, key files, and workflow sections to AGENTS.md, while consolidating and simplifying existing content.
  AGENTS.md
Due: none

refactor: Improve context propagation
  SPEC.md
  internal/handler/handlers.go
  internal/handler/handlers_test.go
  internal/service/gpx/service.go
  internal/service/gpx/service_test.go
  internal/service/tiles/prewarm.go
  internal/service/tiles/prewarm_test.go
  internal/service/tiles/service.go
  internal/service/tiles/service_test.go
Due: backend

test: add server lifecycle, invalid port, and directory size error handling tests.
  internal/server/server_test.go
Due: backend

conductor(setup): Add conductor setup files
  conductor/code_styleguides/go.md
  conductor/code_styleguides/javascript.md
  conductor/index.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup_state.json
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/gpx_cache_20260115/index.md
  conductor/tracks/gpx_cache_20260115/metadata.json
  conductor/tracks/gpx_cache_20260115/plan.md
  conductor/tracks/gpx_cache_20260115/spec.md
  conductor/workflow.md
Due: none

feat: Implement early context cancellation checks in prewarm tile enumeration and update specification.
  SPEC.md
  internal/service/tiles/prewarm.go
Due: backend

feat(gpx): Add logging to metadata cache and fix .gitignore ignore pattern
  .gitignore
  internal/service/gpx/cache/cache.go
Due: backend

conductor(plan): Mark Phase 1 as complete
  conductor/tracks/gpx_cache_20260115/plan.md
Due: none

feat(gpx): Integrate metadata cache into GPX service and server
  internal/server/server.go
  internal/service/gpx/integration_test.go
  internal/service/gpx/service.go
Due: backend

feat(gpx): Add missing parser implementation and type definitions
  internal/model/types.go
  internal/service/gpx/cache/cache_test.go
  internal/service/gpx/parser.go
  internal/service/gpx/parser_test.go
Due: backend

test(server): Update tests to include cache integration
  internal/server/server_test.go
Due: backend

conductor(plan): Mark Phase 2 as complete
  conductor/tracks/gpx_cache_20260115/plan.md
Due: none

test(gpx): Add benchmarks for metadata caching
  conductor/tracks/gpx_cache_20260115/plan.md
  internal/service/gpx/benchmark_test.go
Due: backend

conductor(plan): Update Phase 3 task with SHA
  conductor/tracks/gpx_cache_20260115/plan.md
Due: none

docs(conductor): Update workflow to disable auto-commits
  conductor/tracks.md
  conductor/workflow.md
Due: none

chore: mark Conductor user manual verification task as complete in plan.
  conductor/tracks/gpx_cache_20260115/plan.md
Due: none

chore: Mark GPX metadata caching system implementation as complete.
  conductor/tracks.md
Due: none

chore: Add commit reference to the 'Performance & Cleanup' verification task in the plan.
  conductor/tracks/gpx_cache_20260115/plan.md
Due: none

feat(conductor): Create track config_env_json_20260117
  conductor/tracks.md
  conductor/tracks/config_env_json_20260117/index.md
  conductor/tracks/config_env_json_20260117/metadata.json
  conductor/tracks/config_env_json_20260117/plan.md
  conductor/tracks/config_env_json_20260117/spec.md
Due: none

feat(config): Add environment variable support
  internal/config/config.go
  internal/config/config_test.go
Due: backend

conductor(plan): Mark Phase 1 tasks as complete
  conductor/tracks/config_env_json_20260117/plan.md
Due: none

conductor(plan): Mark phase 'Phase 1: Environment Variable Support' as complete
  conductor/tracks/config_env_json_20260117/plan.md
Due: none

feat(config): Add JSON configuration support
  internal/config/config.go
  internal/config/config_test.go
Due: backend

conductor(plan): Mark Phase 2 tasks as complete
  conductor/tracks/config_env_json_20260117/plan.md
Due: none

feat(config): Add default config.json
  config.json
Due: none
